extends layout 

block content 
    p #{category.name}
    if items
        p Please delete the following items before continuing:
        ul
            each item in items
                li
                    a(href=item.url) #{item.name}
    else
        p Are you sure you wish to delete this category?
        form(method='POST' action='')
            input#categoryid.form-control(type='hidden' name='categoryid' required='true', value=category.id)
            button.btn.btn-danger(type='submit') Delete
