extends layout

block content
    h1= title
    hr
    each item in item_list
        div(class='item-wrapper')
            img(src='' class='list-img')
            a(href=item.url) #{item.name}
            |  ($#{item.price})
        hr
    a(href='/catalog/items/create') Create new Item    